/* ******************************
*               EASYSERVICE
**********************************/


/* HOME PAGE */
/* LIST PROFESSIONAL PAGE */
/* DETAIL PROFESSIONAL PAGE */
/* START ACCUEIL AUTHENTIFICATION PAGE*/
.gradient-custom-auth {

    background-image: url(../IMG/femme\ de\ menage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .gradient-form-auth{
      background-color: #eee;
    }

/* END ACCUEIL AUTHENTIFICATION PAGE */

/* SIGNUP PAGE */
