/* ******************************
*               EASYSERVICE
**********************************/
:root {
    --primaryColor: #246aeb;
    --secondaryColor: #01ce68;
    --thirdColor: #f94e4e;
    --fourColor: #4c0d99;
    --fiveColor: #1a4aac;
    --text-color-liste-pro: #535556;
    --text-color-background: #F4F6F8;
    --white-color: #fff;
}

/* HOME PAGE */
header {
    border-top: 3px solid var(--primaryColor);
}

.secondaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--secondaryColor);
    text-decoration: none;
}

.primaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--primaryColor);
    text-decoration: none;
}

.bg-pro div img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

/* LIST PROFESSIONAL PAGE */
.liste-pro {
    color: var(--text-color-liste-pro);
}

.liste-pro-desc {
    color: var(--white-color);
    padding: 0 0px 0 104.5px;
    height: 350px;
    background-image: url("https://images.pexels.com/photos/2422574/pexels-photo-2422574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.liste-pro-desc-content {
    margin: auto;
}

.liste-pro-desc h1 {
    font-size: 30px;
}

.liste-pro-desc p {
    font-size: 15px;
}

.liste-pro-categories-list {
    display: flex;
    flex-direction: column;
    gap: 5;
}

.liste-pro-categories-list a {
    text-decoration: none;
}

.liste-pro-left-side {
    background-color: var(--text-color-background);
    padding: 0 0 0 104.5px;
}

.liste-pro-left-side h3 {
    font-size: 20px;
}

.liste-pro-left-side span {
    color: var(--primaryColor);
    background-color: var(--white-color);
    border-radius: 50px;
    padding: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px var(--text-color-liste-pro);
    margin-right: 10px;
}

.liste-pro-categorie-item {
    margin-bottom: 10px;
}

.liste-pro-right-side {
    background-color: var(--text-color-background);
    padding: 0 104.5px 0 0;
}

.liste-pro-card-element img {
    height: 80px;
    width: 80px;
}

.liste-pro-card-element .card-header, .card-footer{
    background-color: var(--white-color);
}

.icone-statut{
    font-size: 10px;
    margin-right: 5px;
}

.liste-pro-card-element .card-text{
    text-align: justify;
}



@media screen and (max-width:768px) {
    .liste-pro-categoriesList {
        display: flex;
        flex-direction: column;
    }

    .liste-pro-left-side {
        padding: 0;
    }

    .liste-pro-right-side {
        padding: 10px;
    }
}

/* DETAIL PROFESSIONAL PAGE */
/* SIGNIN PAGE */
/* SIGNUP PAGE */